* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

// grid
.container {
  padding: 0 80px;
}

input {
  outline: none;
  border: 1px solid rgba(#000, .1);
  border-radius: 4px;
  padding: 12px 20px;
}

.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 14px 18px;
  background-color: #8bc34a;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
